<!DOCTYPE html>
<html lang="en">
	<head>
		<title>My Hero Database</title>

		<meta charset="utf-8">
		<meta name="description" content="Your description goes here">
		<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet"> 
		

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
        <!--Trying something here-->
        
	</head>
	<body>
        <h1>My Hero Database</h1>
        <h3>Enter New Hero Below</h3>

        <form action="/myHeroForm" method="post">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="heroName" placeholder="Hero Name">
            <input type="text" name="quirk" placeholder="Quirk">
            <input type="text" name="age" placeholder="Age">
            <button type="submit">Submit</button>
        </form>

        <ul class="heroes">
            <% for(let i = 0; i < heroCollection.length; i++) {%>
            <li class="hero">
                <span><%= heroCollection[i].name %></span>
                <span><%= heroCollection[i].heroName %></span>
                <span><%= heroCollection[i].quirk %></span>
                <span><%= heroCollection[i].age %></span>
            </li>
            <% } %>
        </ul>

        <div>
            <h2>Pokemon Invades</h2>
            <p>
                Replace the first Hero with a Pokemon
            </p>
            <button id="update-button">Replace Hero</button>
        </div>

        <div>
            <h2>Delete Ganon</h2>
            <button id="delete-ganon">Delete Ganon</button>
        </div>

        <div id="message">

        </div>



		
        <script src="/main.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
