<!DOCTYPE html>
<html lang="en">
	<head>
		<title>My Hero Database</title>

		<meta charset="utf-8">
		<meta name="description" content="Your description goes here">
		<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet"> 
		

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
        
        
	</head>
    <body>
		<header>
            <img src="#">
            <h1>My Hero Database</h1>
            <img src="#">
        </header>

		<main>
			<p>Welcome to the My Hero Database! A place you can store all your favorite My Hero characters in a server. Have fun!</p>
		</main>

		<section>
			<a href="href=/MyHeroDB"><button type="button">Enter Database</button></a>
		</section>


















		<script src="js/main.js"></script>
    </body>
</html>