<!DOCTYPE html>
<html lang="en">
	<head>
		<title>My Hero Database - Login</title>

		<meta charset="utf-8">
		<meta name="description" content="Your description goes here">
		<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="shortcut icon" href="#" type="image/x-icon"/>
	</head>
	<body>
		<div id="intro">
			<h2>Welcome to the....</h2>
			<img src="resources/All_Might.png">
			<h1>THIS IS A TEST</h1>
			<img src="resources/Deku.png">
			<h2 class="clickToEnter">Click Below To Enter</h2>
			<a href="/hero">
				<button type="button">Enter</button>
			</a>
		</div>



		
		<script src="/main.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>