/* Box Model Hack */
* {
  boxLog-sizing: border-boxLog;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

html {
  font-size: 62.5%;
}

.heroes {
  font-size: 2rem;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  /* background-color: rgb(95, 173, 236); */
  background-color: #52b2e9;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  background-position: 60% 60%;
}

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 6rem;
  display: inline;
  margin: 0 55px;
}

main {
  
  display: flex;
  justify-content: center;
  max-width: 60%;
  margin: 0 auto; 
}

img {
  width: 25%;
}

button {
  font-size: 3rem;
  font-family: 'Anton', sans-serif;
  margin-top: 1rem;
}

.clickToEnter {
  margin-top: 50px;
}

input {
  font-size: 2rem;
  text-align: center;
}

.makeGreen {
  color: forestgreen;
}

ul {
  list-style: none;
}

.del {
  font-size: 1.5rem;
  
}

hr {
  width: 50%;
  color: rgb(39, 39, 39);
  margin-top: 30px;
  
}

input {
  border-style: hidden;
  border-radius: 5px;
}

 .login {
  margin-top: 10px;
 
}

a {
  text-decoration: none;
}

.email, .sign {
  margin-top: 10px;
}

.out {
  margin-top: 20px;
}

.user {
  margin-top: 200px;
}

#intro {
  margin-top: 30px;
}

.logh1 {
  margin-top: 100px;
}

.logForm {
  height: 35px;
  
}

.userLog {
  display: flex;
  justify-content: right;
}

.user {
  display: inline;
  font-size: 2rem;
}

.userLog button {
  font-size: 2rem;
}



/******************************************
/* GRID
/*******************************************/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}





/******************************************
/* PHONE SIZES
/*******************************************/
@media screen and (max-width: 1900px) {
  h1 {
    margin: 0 0;
    font-size: 5rem;
  }
}

@media screen and (max-width: 2300px) {
 

  .column {
    flex: 100%;
    max-width: 100%;
    margin: 3px 0;
    
  }
}

@media screen and (max-width: 1280px) {
 header img {
  width: 10%;
}

#intro img {
  width: 10%
}

  header {
    margin-top: 30px;
  }

}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 3rem;
  }

 


}