/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

html {
  font-size: 62.5%;
}

.heroes {
  font-size: 2rem;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  /* background-color: rgb(95, 173, 236); */
  background-color: #52b2e9;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  background-position: 60% 60%;
}

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 6rem;
  display: inline;
  margin: 0 55px;
}

main {
  
  display: flex;
  justify-content: center;
  max-width: 60%;
  margin: 0 auto; 
}

img {
  width: 25%;
}

button {
  font-size: 3rem;
  font-family: 'Anton', sans-serif;
  margin-top: 1rem;
}

.clickToEnter {
  margin-top: 50px;
}

input {
  font-size: 2rem;
  text-align: center;
}

.makeGreen {
  color: forestgreen;
}

ul {
  list-style: none;
}




/******************************************
/* LAYOUT
/*******************************************/




/******************************************
/* PHONE SIZES
/*******************************************/
@media screen and (max-width: 1900px) {
  h1 {
    margin: 0 0;
    font-size: 5rem;
  }
}